body {
    display:flex;
    flex-direction:column;
}

ul {
    list-style-type:none;
}

.header {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo {
    font-size:30px;
    color:white;
    font-weight:bold;
}

.nav-links {
    display:flex;
    flex-direction:row;
    gap:10px;
}

.intro {
    display:flex;
}

img {
    width:250px;
    height:auto;
}

.toparea {
    background-color:#1f2937;
    padding: 10px 100px;
    color:white;
}