body {
    display:flex;
    flex-direction:column;
}

ul {
    list-style-type:none;
}

.header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.logo {
    font-size:30px;
    color:white;
    font-weight:bold;
}

.nav-links {
    display:flex;
    flex-direction:row;
    gap:10px;
}

.intro {
    display:flex;
    align-items:center;
}

img {
    width:300px;
    height:auto;
}

.toparea {
    background-color:#1f2937;
    padding: 10px 200px;
    color:white;
}
